# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de configuración de IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Archivos temporales
*.tmp
*.temp
*.bak
*.swp

# Archivos de log
*.log

# NO ignorar archivos HTML en las carpetas activities
!activities/html/*.html
!activities/templates/*.html
