<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>MatemáticaWeb</h5>
                <p>Plataforma educativa para el aprendizaje de matemáticas</p>
            </div>
            <div class="col-md-4">
                <h5>Enlaces Útiles</h5>
                <ul class="list-unstyled">
                    <li><a href="javascript:void(0)" onclick="navigateTo('about.html')">Acerca de</a></li>
                    <li><a href="javascript:void(0)" onclick="navigateTo('contact.html')">Contacto</a></li>
                    <li><a href="javascript:void(0)" onclick="navigateTo('terms.html')">Términos y Condiciones</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Síguenos</h5>
                <div class="social-links">
                    <a href="javascript:void(0)" class="me-2"><i class="fab fa-facebook"></i></a>
                    <a href="javascript:void(0)" class="me-2"><i class="fab fa-twitter"></i></a>
                    <a href="javascript:void(0)" class="me-2"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <small>&copy; 2025 MatemáticaWeb. Todos los derechos reservados.</small>
        </div>
    </div>
</footer>