<header class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#" onclick="navigateTo('index.html')">
            <img src="#" alt="MatemáticaWeb" id="siteLogo" class="site-logo">
            <span class="site-name">MatemáticaWeb</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="navigateTo('courses/index.html')">
                        <i class="fas fa-book"></i> Cursos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="navigateTo('sections/index.html')">
                        <i class="fas fa-puzzle-piece"></i> Recursos
                    </a>
                </li>
            </ul>
            <div class="nav-item" id="userSection">
                <!-- Se llenará dinámicamente según el estado de autenticación -->
            </div>
        </div>
    </div>
</header>